html, body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  overflow-y: hidden;
}

canvas {
  display: block;
  touch-action: none;
}

.display {
  visibility: hidden;
}

.menu {
  position: absolute;
  color: #ffa500;
  background-color: #231709;
  border: 0.6vmin solid #ffa500;
}

.menu:focus, .menu:hover {
  outline: none !important;
  background-color: #381e08;
}

/* Home */

#startBtn {
  top: calc(50vh - 0.25vmin);
  left: calc(50vw - 9.75vmin);
  width: 19.5vmin;
  height: 13vmin;
  font-size: 5vmin;
}

#hostBtn {
  top: calc(50vh + 14.75vmin);
  left: calc(50vw - 17vmin);
  width: 15.5vmin;
  height: 10.5vmin;
  font-size: 4.25vmin;
}

#joinBtn {
  top: calc(50vh + 14.75vmin);
  left: calc(50vw + 1.5vmin);
  width: 15.5vmin;
  height: 10.5vmin;
  font-size: 4.25vmin;
}

#username {
  top: calc(100vh - 19.75vmin);
  left: calc(50vw - 45vmin);
  width: 90vmin;
  height: 6.5vmin;
  padding: 0px 0px 0px 0.75vmin;
  font-size: 5vmin;
}

#tutorialBtn {
  top: calc(100vh - 10vmin);
  left: calc(50vw - 12.25vmin);
  width: 25.5vmin;
  height: 8vmin;
  font-size: 4vmin;
}

#instructionsBtn {
  top: calc(100vh - 10vmin);
  left: calc(50vw - 40vmin);
  width: 25.5vmin;
  height: 8vmin;
  font-size: 3.75vmin;
}

#settingsBtn {
  top: calc(100vh - 10vmin);
  left: calc(50vw + 15.5vmin);
  width: 25.5vmin;
  height: 8vmin;
  font-size: 4vmin;
}

/* View */

#roomCode {
  top: 9.75vmin;
  left: 9.75vmin;
  width: calc(75vw - 18vmin);
  height: 6.45vmin;
  padding: 0px 0px 0px 0.75vmin;
  font-size: 5vmin;
}
#roomCode:invalid {
  background-color: #420000;
}

#enterBtn {
  top: 9.75vmin;
  left: calc(75vw - 5.25vmin);
  width: calc(25vw - 4.5vmin);
  height: 7.5vmin;
  font-size: 5vmin;
}

#instructions {
  width: 100vw;
  height: 100vh;
  position: absolute;
  top: 0px;
  left: 0px;
  visibility: hidden;
}

#widgetBot {
  width: 90vmin;
  height: 90vmin;
  position: absolute;
  top: calc(100vh - 92vmin);
  left: calc(100vw - 144vmin);
}
#onlineMembers {
  width: 50vmin;
  height: 90vmin;
  position: absolute;
  top: calc(100vh - 92vmin);
  left: calc(100vw - 52vmin);
}
#discordWidget {
  visibility: hidden;
  z-index: 1;
}

/* Settings */

#wardrobeBtn {
  top: calc(50vh - 18vmin);
  left: calc(50vw - 42vmin);
  height: 8vmin;
  width: 40vmin;
  font-size: 4vmin;
}

#achievementBtn {
  top: calc(50vh - 6vmin);
  left: calc(50vw - 42vmin);
  height: 8vmin;
  width: 40vmin;
  font-size: 4vmin;
}

#statBtn {
  top: calc(50vh + 6vmin);
  left: calc(50vw - 42vmin);
  height: 8vmin;
  width: 40vmin;
  font-size: 4vmin;
}

#keybindBtn {
  top: calc(50vh - 18vmin);
  left: calc(50vw + 2vmin);
  height: 8vmin;
  width: 40vmin;
  font-size: 4vmin;
}

#displaySettingsBtn {
  top: calc(50vh - 6vmin);
  left: calc(50vw + 2vmin);
  height: 8vmin;
  width: 40vmin;
  font-size: 4vmin;
}

#miscBtn {
  top: calc(50vh + 6vmin);
  left: calc(50vw + 2vmin);
  height: 8vmin;
  width: 40vmin;
  font-size: 4vmin;
}

#returnBtn {
  top: calc(50vh + 18vmin);
  left: calc(50vw - 15vmin);
  height: 8vmin;
  width: 30vmin;
  font-size: 4vmin;
}

#wardrobe {
  position: absolute;
  background: #0C2504;
  border: 0.6vmin solid #303030;
  top: calc(50vh - 27.5vmin);
  left: calc(25vw - 20vmin);
  height: 60vmin;
  width: 50vw;
  overflow-y: scroll;
}

#wardrobeReturnBtn {
  top: calc(50vh + 37.5vmin);
  left: calc(50vw - 15vmin);
  height: 8vmin;
  width: 30vmin;
  font-size: 4vmin;
}

.hat {
  position: relative;
  display: inline-block;
  width: 9.5vmin;
  height: 9.5vmin;
  background: #123904;
  border: 0.6vmin solid #303030;
  vertical-align: middle;
  margin: 1vmin 0vmin 0vmin 1vmin;
}
.hat:hover {
  background: #1C4E0A;
  border: 0.6vmin solid #505050;
}
.hat.selected {
  border: 0.6vmin solid #ffa500;
}
.hat.disabled {
  background: #303030;
  border: 0.6vmin solid #505050;
}

.hat-image {
  position: relative;
  position: absolute;
  top: 50%; left: 50%;
  transform: translate(-50%,-50%);
  width: 90%;
  max-width: 10vmin;
  max-height: 10vmin;
}
.hat.disabled > .hat-image {
  filter: brightness(0%);
}

#stats {
  position: absolute;
  background: #0C2504;
  border: 0.6vmin solid #303030;
  color: #ffa500;
  top: calc(50vh - 32.5vmin);
  left: calc(50vw - 40vmin);
  height: 67.5vmin;
  width: 80vmin;
  overflow-y: scroll;
  padding: 1vmin;
  font-size: 4vmin;
}

#statReturnBtn {
  top: calc(50vh + 40vmin);
  left: calc(50vw - 15vmin);
  height: 8vmin;
  width: 30vmin;
  font-size: 4vmin;
}


#achievementList {
  position: absolute;
  background: #0C2504;
  border: 0.6vmin solid #303030;
  color: #ffa500;
  top: calc(50vh - 32.5vmin);
  left: calc(50vw - 40vmin);
  height: 67.5vmin;
  width: 80vmin;
  overflow-y: scroll;
  padding: 0vmin;
  font-size: 4vmin;
}

#achievementReturnBtn {
  top: calc(50vh + 40vmin);
  left: calc(50vw - 15vmin);
  height: 8vmin;
  width: 30vmin;
  font-size: 4vmin;
}


.achievement {
  display: block;
  color: #e8e8e8;
  background-color: #303030;
  border: 0.6vmin solid #505050;
  margin: 1vmin;
  padding: 1vmin;
}
.achievement-name {
  margin: 0vmin;
}
.achievement-desc {
  margin: 0vmin;
}
.achievement-hat-image {
  position: absolute;
  left: calc(100% - 11vmin);
  width: 8vmin;
  max-height: 8vmin;
  filter: brightness(0%);
}
.achievement.earned {
  color: #ffa500;
  background-color: #231709;
  border: 0.6vmin solid #ffa500;
}
.achievement.earned > .achievement-hat-image {
  filter: none;
}
